@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.hero_anime {
  animation-name: heroAnime;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes heroAnime {
  form {
    background-color: #052e16;
  }to {
    background-color: transparent;
  }
}